{% extends "base.html" %} {% block main %}

<form id="form1">
  <div class="page-content container mt-4">
    <div class="page-header text-blue-d2">
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>
  </div>
  <div class="container mt-3 mb-5">
    <div class="text-center shadow-sm p-3 bg-subtle rounded">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="text-emphasis">Product Details</h3>
        </div>
        <div class="col-auto">
          <a href="/products/add-update" class="btn btn-primary">Add Product</a>
        </div>
      </div>
    </div>

    <p id="test"></p>

    <div class="page-content container mt-3">
      <div class="page-header text-blue-d2">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Price Per Qty</th>
                  <th scope="col">Barcode</th>
                  <th scope="col">Update/Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.quantity}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.price_per_quantity}}</td>
                  <td>{{product.barcode}}</td>
                  <td>
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Handle Products"
                    >
                      <a
                        href="/products/add-update/{{product.id}}"
                        class="btn btn-primary"
                        >Update</a
                      >
                      <a
                        href="/products/delete/{{product.id}}"
                        class="btn btn-danger"
                        >Delete</a
                      >
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% if not products %}
                <tr>
                  <td colspan="6" class="text-center">No products found! Please add one...</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
