{% extends 'base.html' %} {% block main %}
<div class="row">
  <div class="col">
    <img src="{{ url_for('video_feed') }}" width="640" height="480" />
    <br />
    <form action="{{ url_for('toggle_camera') }}" method="get">
      <input type="submit" class="btn btn-success" value="Toggle Camera" />
    </form>
    <br />

    {% for b in bill %}
    <p>{{b}}</p>
    {% endfor %}
  </div>
  <!-- Product -->
  <!-- AvailableQty -->
  <!-- PricePerQty = Price / Qty -->
  <!-- Quantity -->
  <!-- Total = PricePerQty * Quantity -->

  <!-- CustomerName -->
  <!-- Mobile -->
  <!-- Area -->
  <div class="col">
    {% if products %}
    <form id="billForm">
      {% for prod in products %}
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-danger" onclick="removeProductFromBill('{{prod.barcode}}')">Remove</button>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              placeholder="Product Name"
              aria-label="Product Name"
              name="name"
              id="name{{prod.id}}"
              value="{{prod.name}}"
              disabled
            />
            <label for="name{{prod.id}}">Product Name</label>
          </div>
        </div>

        <div class="col">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              placeholder="Available Quantity"
              aria-label="Available Quantity"
              name="availableQuantity"
              id="availableQuantity{{prod.id}}"
              value="{{prod.quantity}}"
              disabled
            />
            <label for="availableQuantity{{prod.id}}">Available Quantity</label>
          </div>
        </div>

        <div class="col">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              placeholder="Quantity"
              aria-label="Quantity"
              name="quantity"
              id="quantity{{prod.id}}"
              value="1"
              oninput="getPricePerQuantity({{prod.quantity}},{{prod.price}}, {{prod.id}})"
            />
            <label for="quantity{{prod.id}}">Quantity</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              placeholder="Price Per Quantity"
              aria-label="Price Per Quantity"
              name="pricePerQuantity"
              id="pricePerQuantity{{prod.id}}"
              disabled
            />
            <label for="pricePerQuantity{{prod.id}}">Price Per Quantity</label>
          </div>
        </div>

        <div class="col">
          <div class="form-floating">
            <input
              type="number"
              class="form-control totalPrice"
              placeholder="Amount"
              aria-label="Amount"
              name="totalPrice"
              id="totalPrice{{prod.id}}"
              disabled
            />
            <label for="totalPrice{{prod.id}}">Amount</label>
          </div>
        </div>
      </div>

      {% endfor %}

      <div class="row">
        <div class="col">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              placeholder="Total Bill"
              aria-label="Total Bill"
              name="totalBill"
              id="totalBill"
              disabled
            />
            <label for="totalBill">Total Bill</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-secondary"
            onclick="toggleCustomerForm('new')"
          >
            New Customer
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick="toggleCustomerForm('existing')"
          >
            Existing Customer
          </button>
        </div>
      </div>
      <!-- Customer Details -->
      <div class="row" id="newCustomerForm">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Customer Name"
            aria-label="Customer Name"
            name="customerName"
            id="customerName"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Mobile Number"
            aria-label="Mobile Number"
            name="mobileNumber"
            id="mobileNumber"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Address"
            aria-label="Address"
            name="address"
            id="address"
          />
        </div>
      </div>

      <div class="row" id="existingCustomerForm">
        <div class="col">
          <select name="existingCustomer" id="existingCustomer" class="form-select">
            <option value="0">Select Customer</option>
            {% for cust in customers %}
            <option value="{{cust.id}}">
              {{cust.name | title}} | {{cust.phone}} | {{cust.address | title}}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary btn-block" onclick="saveBill()">submit</button>
      </div>
    </form>
  </div>
</div>
{% endif %}
<table class="table table-striped table-hover text-center">
  <thead class="table-success">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Barcode</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.price}}</td>
      <td>{{product.barcode}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block script %}
<script>
    var PriceList = new Set();
    var ProductList = [];

    function getProductDetails(prodId){
      const product = {
        id: prodId,
        quantity: Number(document.querySelector('#quantity'+prodId).value),
        pricePerQuantity: Number(document.querySelector('#pricePerQuantity'+prodId).value)
      }
      ProductList.push(product);
    }
    // Check if the form is rendered
  const form = document.querySelector('#billForm');

  var PRODUCTS = '';

  if (form) {
    PRODUCTS = JSON.parse({{ products_json | tojson | safe }})
    if(PRODUCTS) {
      PRODUCTS.forEach(product => {
        getPricePerQuantity(product.quantity, product.price, product.id)
      })
    }
  }

    function getPricePerQuantity(availableQty, totalPrice, prodId) {
      console.log(availableQty, totalPrice);
      const pricePerQuantity = Number(totalPrice) / Number(availableQty);
      const priceField = document.querySelector('#pricePerQuantity'+prodId);
      priceField.value = pricePerQuantity;
      getTotalPrice(prodId)
    }
    function getTotalPrice(prodId){
      console.log('running getTotalPrice')
      const quantity = document.querySelector("#quantity"+prodId).value;
      const pricePerQuantity = document.querySelector("#pricePerQuantity"+prodId).value;
      console.log('gTP:',quantity, pricePerQuantity);
      const totalPrice = document.querySelector("#totalPrice"+prodId);
      totalPrice.value = Number(quantity) * Number(pricePerQuantity);
      updateTotalBill(prodId)
    }
    function updateTotalBill(prodId){
      PriceList?.add(document.querySelector('#totalPrice'+prodId))
      console.log('PL:',PriceList)
      sum = 0
      PriceList?.forEach(price => {
        console.log("PV:",price.value)
        sum += Number(price.value)
      })
      console.log('TotalBill', sum)
      document.querySelector("#totalBill").value = sum;
    }

    var CustomerType = 'new'

    function toggleCustomerForm(custType) {
      if(custType === 'new'){
        document.querySelector('#newCustomerForm').style.display = 'block';
        document.querySelector('#existingCustomerForm').style.display = 'none';
      } else {
        document.querySelector('#newCustomerForm').style.display = 'none';
        document.querySelector('#existingCustomerForm').style.display = 'block';
      }
      CustomerType = custType;
    }
    toggleCustomerForm(CustomerType)

    function removeProductFromBill(barcode){
      console.log(barcode);
      fetch("/remove-product-from-bill", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            barcode: barcode,
        })
      })
      .then(response => console.log(response))
      .then(data => {console.log(data);window.location.reload();})
      .catch(error => console.error('Error:', error));
    }

    /*
    Customer Details
      New - Add a new customer | then fetch its ID
      Existing - fetch its ID
    Order Details
    Ordered Product Details
    */

    function getBillData() {
      var data = {};
      const customerType = CustomerType
      var customerId = 0;
      if(customerType === 'existing')
        customerId = Number(document.querySelector('#existingCustomer').value);
      const customerDetails = {
        name: document.querySelector('#customerName').value,
        mobile: document.querySelector('#mobileNumber').value,
        address: document.querySelector('#address').value,
      };

      const totalBill = Number(document.querySelector('#totalBill').value);

      PRODUCTS.forEach(product => {
        getProductDetails(product.id)
      })
      console.log('ProdList:', ProductList)
      
      data = {
        customerType: customerType,
        customerId: customerId,
        customerDetails: customerDetails,
        totalBill: totalBill,
        productList: ProductList,
      }
      console.log('BillData:', data)
      return data
    }

    function saveBill() {
      fetch("/save-bill", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            customerType: getBillData().customerType,
            customerId: getBillData().customerId,
            customerDetails: getBillData().customerDetails,
            totalBill: getBillData().totalBill,
            productList: getBillData().productList,
        })
      })
      .then(response => {console.log(response);
        if(response.status === 200) {
          window.location.pathname='/show-bill';
        }
      })
      .then(data => {console.log(data);})
      .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
