{% extends "base.html" %} {% block main %}

<form id="form1">
  <div class="page-content container mt-4">
    <div class="page-header text-blue-d2">
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>
  </div>
  <div class="container mt-3 mb-5">
    <div class="text-center shadow-sm p-3 bg-subtle rounded">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="text-emphasis">Category Details</h3>
        </div>
        <div class="col-auto">
          <a href="/category/add-update" class="btn btn-primary"
            >Add Category</a
          >
        </div>
      </div>
    </div>

    <p id="test"></p>
    <div class="page-content container mt-3">
      <div class="page-header text-blue-d2">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Code</th>
                  <th scope="col">Update/Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                <tr>
                  <td>{{category.id}}</td>
                  <td>{{category.name | title}}</td>
                  <td>{{category.code | upper}}</td>
                  <td>
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Handle Categories"
                    >
                      <a
                        href="/category/add-update/{{category.id}}"
                        class="btn btn-primary"
                        >Update</a
                      >
                      <a
                        href="/category/delete/{{category.id}}"
                        class="btn btn-danger"
                        >Delete</a
                      >
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
